body {
    background-color: wheat;
    text-align: center;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
}

#generate {
    height: 3em;
    width: 50%;
    font-size: 1em;
}

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
    /* height: 50%;
    overflow: hidden;
    overflow-y: scroll; */
}